@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Pixel;
    src: url(../Assets/PixelifySans-VariableFont_wght.ttf);
}
@font-face {
    font-family: Iceberg;
    src: url(../Assets/Iceberg-Regular.ttf);
}

.pokeBgC{
    background-color: #55BEA5;
    background-image: url(../Assets/tile-grid-png-6.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.pixel{
    font-family: Pixel;
}
.ice{
    font-family: Iceberg;
}
.purple{
    background-color: #C5AAF0;
}
.blue{
    background-color: #462EA7;
}
.pink{
    background-color: #F4BAE1;
    height: 600px;
}
.mainImg{
    height: 200px;
    width: 200px;
}
.btnHeight{
    height: 75px;
}
.randomRed{
    background-color: #B00B00;
}
.favWhite{
    background-color: white;
}
.redTxt{
    color: #B00B00;
}
.btnBorder{
    border: 3px solid black;
    border-radius: 3px;
}
.favDivBg{
    background-color: #AAF0DB;
}
.boxBorder{
    border: 5px solid black;
    border-radius: 5px;
}
.purpW{
    width: 365px;
}
.bluW{
    width: 345px;
}
.boxH{
    height: 600px;
}
.movesH{
    height: 283px;
}
.btmBoxB{
    border-top: 5px solid black;
}

@media screen and (min-width: 1024px) {
    .pink{
        height: 290px;
    }
    .purpW{
        width: 650px;
    }
    .bluW{
        width: 550px;
    }
    .boxH{
        height: 450px;
    }
    .movesH{
        height: 160px;
    }
}

@media screen and (min-width: 768px) {
    .purpW{
        width: 550px;
    }
    .bluW{
        width: 500px;
    }
    .boxH{
        height: 550px;
    }
    .movesH{
        height: 243px;
    }
}